<div class='row'>
  <div class='col-md-12'>
    <div class='form-group'>
      <%= partial(:select_box_filter, locals: { type: 'language', label_value: 'Language' }) %>
    </div>
  </div>
</div>
<%= partial 'data_series' %>
<%= partial(:select_box_filter, locals: { type: 'indicator-group', label_value: 'Indicators' }) %>
<%= partial(:select_box_filter, locals: { type: 'characteristic-group', label_value: 'Break down data by' }) %>
<div class='row'>
  <div class='col-md-12'>
    <%= partial 'chart_type_buttons' %>
  </div>
</div>
<div class='row'>
  <div class='col-md-6'>
    <%= partial 'overtime_checkbox' %>
  </div>
</div>
<div class='row'>
  <div class='col-md-12'>
    <div class='row'>
      <div class='col-md-4'>
        <a id="download-csv" class='btn btn-success btn-block btn-lg disabled'>
          <i class='fa fa-download'></i>
        </a>
      </div>
      <div class='col-md-8'>
        <button id="submit-chart" class='submit-chart btn btn-success btn-block btn-lg' disabled='disabled'>
          <i class='fa fa-bar-chart'></i>
          <span class='i18nable-label' data-type='Chart'>Chart</span>
        </button>
      </div>
    </div>
  </div>
</div>
