<div id='jhu-chart'>
  <div class='row top-row'>
    <div class='col-md-3 match-height'>
      <section class='chart-sidebar'>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#controls" aria-controls="controls" role="tab" data-toggle="tab">Controls</a></li>
          <li role="presentation"><a href="#help-center" aria-controls="help-center" role="tab" data-toggle="tab">Definitions</a></li>
          <li role="presentation"><a href="#style" aria-controls="style" role="tab" data-toggle="tab">Style</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="controls">
            <%= partial 'chart_controls' %>
          </div>
          <div role="tabpanel" class="tab-pane" id="help-center">
            <%= partial 'chart_help' %>
          </div>
          <div role="tabpanel" class="tab-pane" id="style">
            <%= partial 'chart_style' %>
          </div>
        </div>
        <div class='clear'></div>
      </section>
    </div>
    <div class='col-md-9 match-height'>
      <section class='chart-viewport'>
        <div id='chart-container' class='chart-container'>
          <div class='chart-placeholder'>
            <h2>Welcome to <strong>PMA DataLab</strong>!</h2>
            <img src='http://www.pma2020.org/sites/default/files/blankchart.gif' alt='Chart image'>
            <p>PMA DataLab is a data visualization tool that allows you to build customized charts and download up-to-date PMA data. Use the left panel to...</p>
            <ul>
            <li>- Choose your language.</li>
            <li>- Select an indicator.</li>
            <li>- Select a categorical variable to break the data into groups.</li>
            <li>- Select any number of datasets to view.</li>
            <li>- Choose your chart type.</li>
            <li>- Download the data or generate the chart.</li>
            </ul>
          </div>
        </div>
        <div>
          <h3 class='text-center'>
            <a href="mailto:datalab@pma2020.org">
              <button type="button" class="btn btn-primary">
                <i class='fa fa-paper-plane-o' aria-hidden='true'></i>
                Questions / Suggestions
              </button>
            </a>
          </h3>
        </div>
      </section>
    </div>
  </div>
</div>
<script>
<%# var availableLanguages = <%= @metadata.fetch(:languages, {}).to_json.html_safe %>; %>
<%# var helpText = <%= @metadata.fetch(:help_text, {}).to_json.html_safe %>; %>
<%# var labelText = <%= @metadata.fetch(:label_text, {}).to_json.html_safe %>; %>
<%# var unavailableFilters = <%= @metadata.fetch(:unavailable_filters, {}).to_json.html_safe %>; %>
<%# var data = <%= @data.to_json.html_safe %>; %>
<%# var chartContainer = $('#chart-container'); %>

<%# $('.filter').on('change', function() { validateFilters() }); %>
<%# $('.filter.filter-indicators').on('change', function() { displayHelpText() }); %>
<%# $('.filter.filter-disaggregators').on('change', function() { displayHelpText() }); %>
<%# $('.year-check').on('change', function() { toggleCountryHeader($(this)) }); %>
<%# $('#select-all').on('click', function() {selectAll()}); %>
<%# $('#select-latest').on('click', function() {selectLatest()}); %>
<%# $('#clear-all').on('click', function() {clearAll()}); %>
<%# $('.clear-select').on('click', function() {clearSelect($(this))}); %>
<%# $('#dataset-language-picker').on('change', function() {updateLanguage()}); %>
<%# $('.submit-chart').on('click', function() { %>
  <%# generateChart(); %>
  <%# $('#download-csv').prop('disabled', ''); %>
<%# }); %>
<%# $('.reset-chart').on('click', function() { %>
  <%# resetChart(); %>
<%# }); %>
<%# $('#download-csv').on('click', function() { downloadCSV(); }); %>
<%# $('input.color').colorPicker(); %>
<%# $('#chart-palette').on('change', function() { previewColorPalette(); }); %>

<%# $(document).ready(function(){ %>
  <%# generateColorPaletteOptions(); %>
  <%# updateLanguage(); %>
<%# }); %>

<%# $('.collapse').on('show.bs.collapse', function () { %>
  <%# var checked = $(this).find("[type='checkbox']:checked").length; %>
  <%# if (checked > 0) { return false; } %>
  <%# $(this).parent().find(".country-header").find("i").removeClass("fa-plus").addClass("fa-minus"); %>
<%# }); %>

<%# $('.collapse').on('shown.bs.collapse', function () { %>
  <%# var openItems = $('.collapse.in').length; %>
  <%# if (openItems > 0) { $('.btn-group-justified button').attr('disabled', false); } %>
<%# }); %>

<%# $('.collapse').on('hide.bs.collapse', function () { %>
  <%# var checked = $(this).find("[type='checkbox']:checked").length; %>
  <%# if (checked > 0) { return false; } %>
  <%# $(this).parent().find(".country-header").find("i").removeClass("fa-minus").addClass("fa-plus"); %>
<%# }); %>

<%# $('.collapse').on('hidden.bs.collapse', function () { %>
  <%# var openItems = $('.collapse.in').length; %>
  <%# if (openItems == 0) { $('.btn-group-justified button').attr('disabled', true); } %>
<%# }); %>
</script>
